//--------------------------------------------------
//	Sizes
//--------------------------------------------------

$pageWidth:				1024px;



//--------------------------------------------------
//	Colors
//--------------------------------------------------

$black: 				#121310;  // Panda Black
$color0:				#95AA61;  // Bamboo Cocktail
$color1:				#F6F8EE;  // Tooth Work
$color2:				#D6E68A;  // Fresh Bamboo
$color3:				#899752;  // Leaf Dressing
$color4: 				#b2d166;  // Button gradient offset

$grad1:					#e2e2e2;  // Base color
$grad2:					#f9f9f9;  // Base color

$default-text-shadow-color: rgba(black, 0.5);
$default-text-shadow-blur: 5px;
$default-text-shadow-v-offset: 1px;


//--------------------------------------------------
//	Fonts
//--------------------------------------------------

$fontSize:				13px;
$fontBody:				sans-serif;
$fontHeadings:			sans-serif;



//--------------------------------------------------
//	Custom Mixins
//--------------------------------------------------

@mixin clearfix {
	&:before,
	&:after { 
		content: "";
		display: table;
	}

	&:after { clear: both; }

	& { zoom: 1; }
}


@mixin visuallyhidden {
	width: 1px;
	height: 1px;
	position: absolute;
	border: 0;
	clip: rect(0 0 0 0);
	margin: -1px;
	overflow: hidden;
	padding: 0;
}


@mixin size($width, $height:$width) {
	width: $width;
	height: $height;
}


@mixin ir($width, $height:$width, $isInline:false, $direction:left) {
	@if $width != null {
		@include size($width, $height);
	}
	background-repeat: no-repeat;
	direction: ltr;
	@if $isInline == true {
		@include float($direction);
	} @else {
		display: block;
	}
	overflow: hidden;
	text-align: left;
	text-indent: -999em;

	& br { display: none; }
}


@mixin hidden {
	display: none !important;
	visibility: hidden;
}


@mixin float($direction:left) {
	display: inline;
	float: $direction;
}


@mixin unlistify {
	list-style: none;
	margin: 0;
	padding: 0;
}


@mixin inlinelist($itemFloatDirection:left, $floatContainer:false, $floatContainerDirection:left) {
	@if $floatContainer == true
	{
		@include float($floatContainerDirection);
	} @else {
		@include clearfix;
	}
	@include unlistify;

	li {
		@include float($itemFloatDirection);
	}
}